.navbar{
    background-color: rgb(29, 94, 29);
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.navbar1{
    display: flex;
    justify-content: flex-start;
    flex-direction: row; 
    align-items: center;
    width: 30%;
    
}
.button{
    height: 15%;
    width: 20%;
    background-color: white;
	box-shadow: 3px 11px 42px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #649949 100%);
	border-radius:23px;
	border:3px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:19px 16px;
	text-decoration:none; 
}
.titel{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 70%;
    
}
.logout{
    position: relative;
    top: -8px;
}
